# Dependencies
client/node_modules/
server/node_modules/

# Environment files
client/.env
server/.env

# Logs
*.log

# Build folders
client/build/
client/dist/
server/dist/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/